<div id="reportsummary">
    <h2>Report summary</h2>

    <div class="row">
        <div class="col-2">
            <h5>Date</h5>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <h5>Name</h5>
                </div>
                <div class="col position-relative">
                    <h5>Status</h5>
                    <i title="Download AS pdf" (click)="downloadPdf('reportsummary')"
                        class="fal fa-download downloadPdf"></i>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let g of data">
        <div class="row list1 ">
            <div class="col-2">
                {{g.date | date:'dd/MM/yy'}}

            </div>
            <div class="col-10">
                <div *ngFor="let app of g.apps">



                    <div class="row">
                        <div class="col">
                            {{app.patient_name}}
                        </div>
                        <div class="col">
                            {{app.appointment_status}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>


</div>