<div class="container pt-3">

<div class="row">
    <div class="col-5">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img src="../../../../assets/images/doc_svg.svg" alt="">
                </div>
                <mat-card-title>{{profile.doctor_name}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
    
            <h1>Profile</h1>
    
      <b>      name :</b> {{profile.doctor_name}} <br>
            <b>Start time :</b> {{profile.day_start_time}} <br>
          <b>  End time :</b> {{profile.day_end_time}} <br>
            {{profile.isVerify?'Verifried':'Not verified'}} <br>
        </mat-card>

    </div>
</div>


</div>