<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <img src="https://img.icons8.com/color/96/000000/doctor-male-skin-type-1.png" />
            <h3 class="me-5 logo_font">Doctor    Portal</h3>
            <div class="collapse navbar-collapse float-right" id="navbarExample01">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ml-5">
                    <li class="nav-item active" [routerLink]="['/']" routerLinkActive="router-link-active">
                        <a class="nav-link" aria-current="page">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

            </div>
            <ul class="navbar-nav">
                <li *ngIf="!isLogin" class="nav-item" [routerLink]="['/admin']" routerLinkActive="router-link-active">
                    <a class="nav-link"> <b> Login</b> </a>
                </li>
                <li *ngIf="isLogin" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"id="navbarDropdown"
                        role="button" [matMenuTriggerFor]="menu">
                        {{doctorData?.doctor_name}}
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  [routerLink]="['/admin/dashboard']" >Dashboard</button>
                        <button mat-menu-item>Logout</button>
                      </mat-menu>
                   
                </li>
                <li  *ngIf="isLogin" class="nav-item" >
                    <a class="nav-link" >
                        <mat-icon  (click)="logout()"  matTooltip="Logout" class="power">power_settings_new</mat-icon>

                        <!-- <i (click)="logout()" matTooltip="Logout"  class="fal fa-power-off power"></i> -->
                    </a>
                </li>


            </ul>
        </div>
    </nav>
    <!-- Navbar -->


</header>

<!-- <mat-toolbar color="pri">
    <div class="container">
        
        
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="https://img.icons8.com/color/96/000000/doctor-male-skin-type-1.png" style="height: 66px;" />
        <span class="f-20">Doctor Portal</span>
        <span class="example-spacer"></span>

        <a class="" aria-current="page">Home</a>



        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
  </mat-toolbar> -->